services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reservation-api
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: mongodb+srv://add:add@add.add
      PORT: 3000
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
